<html>
	<head>
		<title>Blog App</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item">
					<i class="code icon"></i>Blog Site
				</div>
				<a href="/" class="item">Home</a>
			<a href="/blogs/new" class="item">New Post</a>
				<% if(!currentUser){ %>
				<a href="/login" class="right item">Login</a>
				<a href="/register" class="item">Sign Up</a>
				<% } else { %>
				<a href="#" class="right item">Signed In As <%= currentUser.username %></a>
				<a href="/logout" class="item">Logout</a>
				<% } %>
			</div>
		</div>
		<% if(error && error.length>0){ %>
		<div class="ui warning message">
  <div class="header">
    <%= error %>
  </div>
</div>
		<% } %>
		<% if(success && success.length>0){ %>
		<div class="ui success message">
  <div class="header">
    <%= success %>
  </div>
</div>
		<% } %>
